.pipeline-wrapper {
  // overrides
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);

  .ant-radio-group {
    width: 100%;
    display: flex;

    .ant-radio-button-wrapper {
      border: none;
      width: 100%;
    }

    .current-stage {
      color: #fff;
      background: #0095ff;
    }

    .past-stage {
      color: #fff;
      background: #4BCA81;
    }
  }
}
