.homePageContainer{
  margin-top: 50px;
}

.homePageWelcomeCard{
  padding: 20px 30px 20px 30px;
}

.homePageCard{
  padding: 20px;
  margin-bottom: 30px;
}

.homePageUserIcon{
  margin-right: 15px;
  background-color: #f6f6f6;
  border-radius: 100%;
  padding: 13px;
}