.detail-panel-left {
  //height: 100%;
  width: 100%;

  .card {
    //height: 100%;
  }

}

.detail-action-menu {

  min-width: 100px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: .25rem;

  .detail-menu-item {

    padding: 0px;

  }

}
