.resultCollapseOpened {
  display: block;
}

.resultCollapseClosed {
  display: none;
}

.ant-card-head-title {
  padding: 12px 3px !important;
}

.resultHeaderIcon {
  font-size: 1.6em;
  margin-right: 5px;
  vertical-align: bottom;
  padding-bottom: 2px;
}

.ant-card-bordered{
  border-color: #d9d9d9;
}