.record-detail-view {
  .page-header {
    .content {
      display: flex;
    }
  }

  .record-pipeline {
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .record-main-content-row {
    margin-top: 4px;
  }
}
